.sign_container{
    width: 400px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
  }
  .form_content h1, .form_content p{
    text-align: center;
  }
  .form_content{
    padding: 15px;
  }
  .auth_google{
    text-align: center;
    padding-top: 10px;
  }
  .auth_google p{
    padding-top: 10px;
  }
  .form_content hr {
    border: 1px solid #f1f1f1;
    margin-top: 20px;
    margin-bottom: 25px;
  }
  .form_content input[type=text], .form_content input[type=password]{
    width: 340px;
    padding: 15px;
    margin: 5px auto 20px auto;
    border: none;
    background: #f1f1f1;
  }
  .form_content input[type=text]:focus, .form_content input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
  .form_content input[type=checkbox]{
    margin-bottom: 15px;
  }
  .clearfix{
    text-align: center;
    justify-content: center;
  }
  .clearfix button {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    opacity: 0.9;
    width: 50%;
  }
  .clearfix button:hover {
    opacity:1;
  }
  .red.darken-1{
    background-color: #E53935;
    text-decoration: none;
    color: inherit;
    padding: 10px;
    text-transform: uppercase;
  }
  .red.darken-1:hover{
    background-color: #ff2d2a;
  }
  .red.darken-1 i{
    margin: 0 5px 0 5px;
  }
  
  
  
  /* Extra styles for the cancel button */
  .cancelbtn {
    padding: 14px 20px;
    background-color: #f44336;
  }
  /* Float cancel and signup buttons and add an equal width */
  .cancelbtn, .signupbtn {
    float: left;
    width: 50%;
  }
  
  /* Clear floats */
  .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }