<div class="main_content">
    <div class="content_header">
        <h1 id="film_title"></h1>
        <p><span class="rating_span">Add review</span></p>
    </div>
    <div class="content_main">
        <div class="left_main">
            <img id="film_cover" src="" width="80%">
        </div>
        <div class="right_main">
            <div class="info">
                <p id="film_year"><b>Release year</b>: </p>
                
                <p id="film_cast"><b>Cast</b>: </p>
            </div>
            <div class="info_2">
                <p><span class="watchlist_span">+ Watchlist</span></p>
                <p id="film_starring_rating">Starring: </p>
                <p id="film_imdb_rating">IMDb: </p>
            </div>
            
        </div>
    </div>
    <div class="content_footer">
        <div class="footer_tag" id="film_tag">
        </div>
        <div class="footer_description">
            <p id="film_plot"></p>
        </div>
    </div>
    <hr>
    <div class="comment_container">
        <div class="comment_container_title" id="review_container">
            <h2>User reviews</h2>
        </div>
    </div>
    <br>
</div>
<script>
    window.onload = function(){
        var url = window.location.pathname;
        var pathArray = window.location.pathname.split('/');
        fetch('/movies/'+pathArray[2])
        .then((resp) => resp.json()) // Transform the data into json
        .then(function(data) { // Here you get the data to modify as you please
            console.log(data);
            document.getElementById('page_title').textContent = data.title;
            document.getElementById('film_title').textContent = data.title;
            document.getElementById('film_cover').setAttribute('src', data.cover);
            document.getElementById('film_year').innerHTML += data.year;
            document.getElementById('film_cast').innerHTML += data.cast.slice(0, 5);

            document.getElementById('film_starring_rating').innerHTML += data.starring_rating + "/10";
            document.getElementById('film_imdb_rating').innerHTML += data.imdb_rating + "/10";

            for(let i=0; i<data.genres.length; i++){
                let tag_p = document.createElement('p');
                let tag_span = document.createElement('span');
                tag_span.setAttribute('class', 'tag_span');
                tag_span.innerText = data.genres[i];
                tag_p.appendChild(tag_span);
                
                document.getElementById('film_tag').appendChild(tag_p);
            }

            document.getElementById('film_plot').innerText = data.plot;

            for(let i=0; i<data.reviews.length; i++){
                let comment_div = document.createElement('div');
                comment_div.setAttribute('class', 'comment')
                let p = document.createElement('p');
                p.textContent = data.reviews[i];
                comment_div.appendChild(p);
                document.getElementById('review_container').appendChild(comment_div);
            }
        })
    }
</script>