<div class="sign_container">
    <form action="#">
        <div class="form_content">
            <h1>Accedi al tuo account</h1>
            <div class="auth_google">
                <a href="/auth/google" class="btn red darken-1"> <i class="fab fa-google left"></i> Login with Google</a>
                <p>or</p>
            </div>
            

            <label for="username"><b>Username</b></label>
            <input type="text" placeholder="Username" name="username" required>
        
            <label for="password"><b>Password</b></label>
            <input type="password" placeholder="Password" name="password" required>
            
            <label>
                <input type="checkbox" checked="checked" name="remember" style="margin-bottom:15px;"> Ricordami
            </label>
        
            <div class="clearfix">
                <button type="submit">Login</button>
            </div>
        </div>
    </form>
</div>