<div class="content_search">
    <h1>Film trovati: </h1>
    <ul id="lista_film">
    </ul>
</div>

<script>
    window.onload = function(){
        var url_string = window.location.href;
        var url = new URL(url_string);
        var search = url.searchParams.get("search");
        console.log(search);
        if(search != null){
            fetch('/load/'+search)
            .then((resp) => resp.json()) // Transform the data into json
            .then(function(data) { // Here you get the data to modify as you please
                console.log(data);
                console.log(data.film.length);
                draw(data);
            })
        } else {
            fetch('/load')
            .then((resp) => resp.json()) // Transform the data into json
            .then(function(data) { // Here you get the data to modify as you please
                draw(data);
            })
        }
    }

    function draw(data){
        for(let i=0; i<data.film.length; i++){
            console.log(data.film[i]);
            let li = document.createElement('li');
            let a = document.createElement('a');
            a.setAttribute('href', '/film/'+data.film[i]);
            a.textContent = data.film[i];
            li.appendChild(a);
            document.getElementById('lista_film').appendChild(li);
        }
    }
</script>