<div class="sign_container">
    <form action="/api/signup" method="post">
        <div class="form_content">
            <h1>Registrati al sito</h1>
            <div class="auth_google">
                <a href="/auth/google" class="btn red darken-1"> <i class="fab fa-google left"></i> Login with Google</a>
                <p>oppure</p>
            </div>

            <label for="username"><b>Username</b></label>
            <input type="text" placeholder="Username" name="username">

            <label for="email"><b>Email</b></label>
            <input type="text" placeholder="Email" name="email">
        
            <label for="password"><b>Password</b></label>
            <input type="password" placeholder="Password" name="password">

            <label for="password-repeat"><b>Ripeti password</b></label>
            <input type="password" placeholder="Ripeti password" name="password-repeat">
            
            <label><input type="checkbox" checked="checked" name="remember"> Ricordami</label>
            <a href="/login" style="float: right; color: inherit;" title="Accedi con il tuo account">Hai già un account?</a>
        
            <div class="clearfix">
                <button type="submit">Conferma</button>
            </div>
        </div>
    </form>
</div>

<script>
    const form = document.getElementById('signupForm')
    form.addEventListener('submit', registerUser)

    async function registerUser(event) {
        event.preventDefault()
        const username = document.getElementById('username').value
        const email = document.getElementById('email').value
        const password = document.getElementById('password').value

        const result = await fetch('/api/signup', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                username,
                email,
                password
            })
        }).then((res) => res.json())

        if (result.status === 'ok') {
            // everythign went fine
            alert('Success')
        } else {
            alert(result.error)
        }
    }
</script>
